.products_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;

  .menu_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .onAddProduct_btn {
      text-align: center;
      margin-right: 2rem;
      width: 100px;
      border-radius: 25px;
      background-color: darkolivegreen;
      color: white;

      &:hover {
        background-color: #7a9850;
        box-shadow: 1px 2px 7px #98b26e;
      }
    }
  }

  .products_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}