.product_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  width: 15rem;
  min-height: 15rem;
  box-shadow: #595555 1px 1px 3px 1px;
  border-radius: 5px;
  margin: 10px;
  background-color: white;

  &:hover {
    box-shadow: inset 1px 1px 3px grey;
  }

  .product_title {
    font-weight: 600;
    font-family: Frunch, sans-serif;
    margin-bottom: 1rem;
  }

  .product_image {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .product_price {
    margin-bottom: 1rem;
  }

  .product_description {
    margin-bottom: 1rem;
  }

  .info_btn {
    width: 100px;
    height: 25px;
    border-radius: 25px;
    margin-bottom: 1rem;
  }

  .edit_product_button {
    width: 100px;
    height: 25px;
    border-radius: 25px;
    margin-bottom: 1rem;
    background-color: darkolivegreen;
    color: white;
  }

  .delete_product_btn {
    width: 100px;
    height: 25px;
    border-radius: 25px;
    margin-bottom: 1rem;
    background-color: brown;
    color: white;
  }
}