.task_wrapper{
  width: 500px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: rgba(16, 68, 50, 0.44) solid 2px ;
  border-radius: 25px;
  padding: 20px;
  box-shadow: inset 1px 1px 5px #104432;
  .task_title{
    display: flex;
    justify-content: space-between;
    border: rgba(47, 79, 79, 0.48) solid 2px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    .close_btn{
      font-size: 45px;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      transform: rotate(45deg);
      cursor: pointer;
      width: 30px;
      height: 30px;

      &:hover{
        animation: rotation 2s infinite linear;
      }
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
  }

  .task_content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;

    .done_button{
      width: 80px;
      height: 30px;
      font-family: Trattatello,sans-serif;
      font-size: 19px;
      background: rgba(47, 79, 79, 0.48);
      border-radius: 25px;
    &:hover{
      background: rgba(95, 152, 152, 0.48);
    };
    }
    .done_task{
      text-decoration: line-through;
    }
  }
}