.layout{
  position: absolute;
  width: 100%;
  min-height: 100%;
  .header{
    background: rgb(16, 68, 50);
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 2rem;
    .logo_container{

    }

  }
  .content_container{
  margin-top: 7%;
  }
  }

